
<center>
<div >
<div class="card" id="project" style="width: 24rem; my-10" id="session">

<center><h1>Editing project</h1></center>

<%= render "form", project: @project %>

<br>

<div id="button_group">
  <%= link_to "Show this project", @project %> |
  <%= link_to "Back to projects", projects_path %>
</div>
</div>
</div>
</center>

