
<h2 id="index_H2">Projects</h2>
<br>
<br>

<div class="container">
  <div class="row"> 
    
    <% @projects.each do |project| %>
      <%= render project %> 
         
    <% end %>
    
          
  </div>  
</div>


