<center><h2>Projects</h2></center>
<br>
<br>

<div class="container">
  <div class="row"> 
    
    <% @projects.each do |project| %>
      <%= render project %> 
         
    <% end %>
    
          
  </div>  
</div>


