

<div id ="show">
<%= render @project %>


<div>
  <a id="a"> <%= link_to "Edit  |", edit_project_path(@project) %> </a> 
  <a id="a"> <%= link_to "Back", projects_path %> </a>
  <%= button_to "Delete", @project, method: :delete  %>
</div>
</div>

