<% if current_user %>  
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown link
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <li><a class="dropdown-item" href="/projects"> Home </a></li>
    <li><a class="dropdown-item" href="projects/new" > New Project </a></li>    
    <li class="nav-item"><%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
  </ul>
  </li>
<% elsif %>
  <li class="nav-item">
    <a class="nav-link" href="/users/sign_in">Sign In</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/sign_up">Sign Up</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/projects/new">New Project</a>
  </li>
<% end %>


