<div class="jumbotron jumbotron-fluid" id="about">
  <div class="container">
    <h1 class="display-4">Daniel Atkinson Portfolio Project</h1>
    <p class="lead">This project if for Intro to Software Engineering, CS3300 at UCCS in Colorado Springs. The purpose of this project is to demonstrate an individual's 
    ability to successfully implement a full project over the course of multiple iterations by following the spiral methodology.
    <br>
    <br>
    See the code behind it on: <a href="https://github.com/dakiethkinson/CS3300_test" target="_blank">github</a>
    <br> 
    See the Testing on: <a href="https://app.circleci.com/pipelines/github/dakiethkinson/CS3300_test" target="_blank">CircleCi</a> 
    </p>
  </div>
</div>