<div class="jumbotron jumbotron-fluid" id="about">
  <div class="container">
    <h1 class="display-4">Daniel Atkinson Portfolio Project</h1>
    <p class="lead">This project if for Intro to Software Engineering, CS3300 at UCCS in Colorado Springs. The purpose of this porject is to demonstrate an individual's
    ability to successfully impliment a full project over the course of multiple iterations by following the spiral methodolody.</p>
  </div>
</div>